
        * {
            box-sizing: border-box;
            background: white;
            font-family: 'Roboto', 'arial', 'sans-serif';
        }

        html,
        body {
            height: 100vh;
            margin: 0px;
            padding: 5px;
        }

        thead {
            display: table-header-group;
            text-align: left;
            vertical-align: top;
        }

        header {
            height: 5vh;
        }

        #pic {
            width: auto;
            height: 100px;
            text-align: center;
                }

        h2 {
            text-align: center;
        }
        #heading {
            font-size: 24pt;
            text-align: center;
            color: #00F070;
            padding-top: 20px;
                }
         #bio-paragraph {
            display: inline-block;
            width: 50%;
            height: 300px;
            margin-top: 5px;
            margin-right: 25%;
            margin-bottom: 5px;
            margin-left: 25%;
            border: 15px solid #F4F7F6;
            padding: 20px;
            font-size: 12pt;
            text-align: justify;
         }

          #work {
            display: inline-block;
            width: 50%;
            height: 300px;
            margin-top: 5px;
            margin-right: 25%;
            margin-bottom: 5px;
            margin-left: 25%;
            border: 15px solid #F4F7F6;
            font-size: 11pt;
            padding-left: 5%;
            padding-right: 5%;
            column-width: 30%;
           
        }

        #goals {
            display: inline-block;
            width: 50%;
            height: 300px;
            margin-top: 5px;
            margin-right: 25%;
            margin-bottom: 5px;
            margin-left: 25%;
            border: 15px solid #F4F7F6;
            padding: 7px;
            font-size: 12pt;
            text-align: center;
        }        
 
